.main{
  display: flex;
  width: 100%;
;
}
.container{
  display: flex;
  width:85%;
  // background-color: white;
  height: 150px;
  // justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  // gap: px;
  margin-left: 90px;
  // margin-bottom: 50px;
  margin-top: 30px
}

.mat{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fla{
  display: flex;
}
.base1{
  display: flex;
  // flex-direction: column;
  height: 200px;
  // background-color: #1f4e45;
  justify-content:space-between;
  align-items: center;
}

.flag img{
  width:38px;
  height:38px;
  border-radius:50%;
  border:2px solid #DDE7E3;
}
.base1{
  display: flex;
  justify-content: space-between;
}

.flag{
  display: flex;
  gap: 20px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.flag h2{
  // display: flex;
  // margin-top: 20px;
  // margin-bottom: 70px;
}
.h2{
  display: flex;
  // margin-top: 20px;
  // margin-bottom: 60px;
}


//
    /* ================= TABS ================= */
    .tabs {
      width: 100%;
      margin-top: 25px;
      display: flex;
      gap: 30px;
      border-bottom: 1.5px solid #1f4e45;

      // margin-left: 100px;
    }
    .btn1 button{
      display: flex;
      padding: 5px 10px;
      border-radius: 15px;
      background-color: #1f4e45;
    }

    .tab {
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      color: #1f4e45;
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
    }

    .tab.active::after {
      content: "";
      position: absolute;
      bottom: -1.9px;
      left: 6;
      width: 100%;
      height: 5px;
      background: #1f4e45;
    }






    


    //
    .main2{
      // display: flex;
      width: 100%;

    }


    //


      /* ================= CONTENT ================= */
    .content {
      width: 100%;
      margin-top: 28px;
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }

    .left-text {
      width: 60%;
      font-size: 18px;
      color: #333;
      line-height: 1.6;
    }

    .left-text strong {
      font-weight: 600;
      color: #000;
    }


    /* ================= CONTACT CARD ================= */
    .contact-card {
      width: 320px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
      padding: 22px;
    }

    .contact-card h3 {
      font-size: 18px;
      margin-bottom: 14px;
      font-weight: 600;
      border-bottom: 1.5px solid #d8d8d8;
      padding-bottom: 10px;
    }
    .sv{
      // margin-top: 10px;
      margin-bottom: 10px;
      // background-color: #1f4e45;
      // border-color: #1f4e45;
      // border-radius: 20px;
      color: white;
    }

    .contact-card p {
      margin: 8px 0;
      font-size: 14.5px;
      color: #333;
      line-height: 1.5;
    }

    .contact-item {
      display: flex;
      gap: 10px;
      align-items: flex-start;
      margin-top: 10px;
      font-size: 14.5px;
      color: #333;
    }

    .icon {
      color: #5f8f78;
      font-size: 15px;
      min-width: 18px;
    }

    .contact-link {
      color: #1f4e45;
      text-decoration: underline;
      font-weight: 500;
    }


