



.container {
    width: 90%;
    margin: 40px auto;
}

.back-link {
    font-size: 16px;
    text-decoration: none;
    color: #2b7de9;
}

.box {
    display: flex;
    justify-content: space-evenly;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 95%;
}

.left {
    width: 90%;



}

.label {
    font-size: 14px;
    color: #777;
    margin-bottom: 3px;
}

.code, .name {
    margin-top: 0;
}

.row {
    display: flex;
    gap: 85px;
    margin-top: 20px;
}

.value {
    font-size: 18px;
    font-weight: bold;
}

.more {
    display: inline-block;
    margin-top: 20px;
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.right img {
    width: 260px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
    flex-direction: column;

}

.flex1{
  display: flex;
  gap: 80px;
  // flex-direction: column;
}
.details{
  display: flex;
  justify-content: center;
  align-items: start;
}

.main3{

  margin-top: 10px;
    width: 49%;
    // margin: 30px auto;
    display: flex;
    gap: 40px;
    justify-content:start;
    // flex-direction: column;

}


.card{
    background: #fff;
    border-radius: 10px;
    padding: 22px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.09);
    width: 85%;
}

.left h3{
    margin: 0;
    font-size: 20px;
}

.tag{
    display: inline-block;
    background: #e4f5e9;
    color: #287a47;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 13px;
    margin: 8px 0 12px 0;
}

.card-details{
    display: flex;
    // gap: 40px;
    margin-bottom: 8px;
    // width: 100%;
    flex-direction: column;
    font-size: 15px;
}

.details p{
    margin: 0;
    font-size: 14px;
      color: #444;
}

.-details i{
    margin-right: 6px;
    color: #777;
}

.flag img{
  margin-bottom: 90px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e0e0e0;
}
svg{
  width:20px;
  height:20px;
  stroke:#1f4e45;
  fill:none;
  stroke-width:1.8;
}
//
